mat-card-content.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// 控制与结果区按钮区域
.random-decision-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button:last-child {
    margin-right: 0.25rem;
  }
}

// 选项列表按钮与内容对齐
.random-decision-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span[matListItemTitle] {
      min-height: 2.5rem;
      display: flex;
      align-items: start;
  }
}

// 输入区按钮和输入框对齐
.random-decision-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  mat-form-field,
  button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  mat-form-field {
    flex-grow: 1;
    margin-right: 0.5rem;
    .mat-form-field-wrapper {
      height: 100%;
      min-height: 0;
      display: flex;
      align-items: center;
    }
    .mat-form-field-flex {
      align-items: center;
      height: 100%;
    }
    .mat-input-element {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      line-height: 40px;
    }
  }

  button {
    margin-left: 0.5rem;
  }
}